header {
    background-image: url('/images/bg-header-desktop.svg');
    height: 90px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary);
}

@media screen and (max-width: 600px) {
    header {
        background-image: url('/images/bg-header-mobile.svg');
    }
}