.job--container {
    padding: 1.5em 2em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border-radius: 4px;
    gap: 0.8em;
}

.job--container:hover {
    border-left: 4px solid var(--primary);
    padding-left: calc(2em - 4px);
}

.company--logo--container>img {
    display: block;
}

.company--details {
    gap: 0.4em;
}

.company--name {
    gap: 0.8em;
}

.company--name>p {
    color: var(--primary);
}

.location--container {
    color: var(--dark-cyan);
    font-weight: 400;
    gap: 2em;
}

.location--container>small:not(:last-child) {
    position: relative;
}

.location--container>small:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: currentColor;
    right: -1em;
    top: 50%;
    translate: 100% -50%;
}

.badge--container {
    flex-grow: 1;
    justify-content: flex-end;
    gap: 1em;
    user-select: none;
    cursor: pointer;
    flex-wrap: wrap;
}

.badge--container .badge:hover {
    color: var(--secondary);
    background-color: var(--primary);
}

@media screen and (max-width: 756px) {
    .job--container {
        flex-direction: column;
        align-items: flex-start !important;
        padding-inline: 1.6em;
        position: relative;
        padding-block-start: 2.5em;
    }
    .job--container:hover {
        padding-left: calc(1.6em - 4px);
    }
    .company--logo--container {
        position: absolute;
        top: -28px;
    }
    .company--logo--img {
        width: 56px;
        aspect-ratio: 1;
    }
    .company--details {
        width: 100%;
        border-bottom: 1px solid var(--dark-cyan);
    }
    .badge--container {
        justify-content: flex-start;
    }
    .location--container {
        padding-block-end: 0.7em;
    }
}