* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: var(--secondary);
}

:root {
    --primary: hsl(180, 29%, 50%);
    --secondary: hsl(180, 52%, 96%);
    --filter-primary: hsl(180, 31%, 95%);
    --dark-cyan: hsl(180, 8%, 52%);
    --ed-cyan: hsl(180, 14%, 20%);
    font-family: 'Fira Code', monospace;
    font-family: 'Outfit', sans-serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.mr-overlap-5 {
    margin-right: -0.5em;
}

.pb-3 {
    padding-bottom: 3px;
}

.pt-4 {
    padding-top: 4em;
}

.icon {
    font-size: 10px;
    color: white;
    border-radius: 20px;
    padding: 0.4em 0.8em;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    text-transform: uppercase;
}

.icon-green {
    background-color: var(--primary);
}

.icon-black {
    background-color: var(--ed-cyan);
}

.badge {
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0.3em 0.8em;
    border-radius: 3px;
}